openapi: 3.1.0
info:
  title: Synthesia Assets Dubbing API
  description: 'The Synthesia REST API enables programmatic creation of AI avatar videos from scripts and templates, with endpoints for videos, templates, dubbing projects, translations, assets, audit logs, and webhooks. Source: https://docs.synthesia.io/reference'
  version: '2.0'
  contact:
    name: Synthesia
    url: https://docs.synthesia.io/
servers:
- url: https://api.synthesia.io/v2
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Dubbing
paths:
  /dubbing/projects:
    post:
      tags:
      - Dubbing
      summary: Create dubbing project
      operationId: createDubbingProject
      responses:
        '201':
          description: Created
  /dubbing/projects/{projectId}:
    parameters:
    - name: projectId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Dubbing
      summary: Get dubbing project status
      operationId: getDubbingProject
      responses:
        '200':
          description: OK
  /dubbing/projects/{projectId}/locales:
    parameters:
    - name: projectId
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Dubbing
      summary: Add locales to project
      operationId: addDubbingLocales
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key from the Synthesia dashboard, passed in the Authorization header on each request.
